/*Links and header Tags */


a,
a:hover,
a:active,
a:visited {
    color: #FFF;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 22px;
    line-height: 32px;
    background-color: #000;
    color: #FFF;
}


h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}



/* Page Elements alphabetically */

ul.cast-members li {
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 220px;
}

.cast-members {
    list-style: none;
    text-align: center;
    /* Flexbox styles by http://the-echoplex.net/flexyboxes */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.cast-image {
    border: 1px solid #2b2b2b;
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

.mainContent, footer.container {
    max-width: 900px;
}



.footer-copywrite {
    position: relative;
    top: 16em;
}


footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
}

.footer-wrapper {
    background-image: url(/images/asheville.jpg);
    height: 350px;
    margin-top: 3em;
    background-repeat: repeat-x;
}

.im-date {
    font-size: 1.1em;
    padding: 0em 0em;
    text-align: center;
}


.navbar-inverse .brand {
    color: #FFF;
}

pre {

    color: inherit;
}


.navbar-default {
    background-color: #FFF;
}

.logo {
    margin: 0px auto;
    position: relative;
    display: block;
}

.nav>li>a:hover,  
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent; 
}


.span12 {
    max-width: 1920px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.well {
    background-color: inherit;
    color: inherit;
}

/*Styles by Media Queries*/


@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}

